.flexContainer {
  border: 1px solid red;
  display: flex;
  height: 90vh;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  flex-wrap: wrap;
}

.flexitem {
  background-color: blanchedalmond;
  border: 2px solid gold;
  color: blue;
  font-size: 25px;
  height: 80px;
  width: 80px;
}

.flexitem:nth-child(1) {
  order: 1;
  align-self: center;
}

.flexitem:nth-child(6) {
  order: -1;
  align-self: center;
}
