.gridContainer {
  border: 1px solid red;
  display: grid;
  height: 90vh;
  gap: 20px;
  grid-template-columns: 100px 200px 300px 400px;
  grid-template-rows: 100px 200px;
}

.griditem {
  background-color: blanchedalmond;
  border: 2px solid gold;
  color: blue;
  font-size: 25px;
  height: 80px;
  width: 80px;
}
